<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="../styles/customer.css">
</head>
<body>
            <!--       HEADER       -->
    <header class="header">
        <div class="log">
            <img id= btn2-admin src="../public/img/Log.png" alt=""> 
        </div>
        <nav>
            <ul class="nav-link">
                <li><c class="list" href="#">List</c></li>
                <li><b id="shopping_cart" href="#"><img src="../public/img/Supa_car.png" alt=""></b></li>
            </ul>
        </nav>
        <a href="#" id="btn-home"><button>Home</button></a>
        <script src="../javascript/customer.js"></script>
    </header>

    <div class="all_elements">
            <!--       SIDEBAR       -->
        <div id="sidebar">
            <div class="column">
                <div class="card_box">
                    
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
        
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
                </div>
                
                <div class="card_box">
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
                </div>
                
                <div class="card_box">
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
        
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
                </div>

                <div class="card_box">
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
                </div>
                
            </div>
                
        </div>
            <section class="content">

                <!--       PRODUCTS       -->
            <div class="looker" id="looker">
                <div class="row">
                    <script src="../javascript/deployProducts.js"></script> 
                </div>
    
                <div class="row">
    
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
    
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
    
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
    
                    <div class="item">
                        <div class="card">
                            <img src="../public/img/Log.png" alt="">
                            <p class="info">product 1</p>
                            <span class="prize">2.000</span>
                        </div>
                    </div>
    
                    
                </div>
    
            </div>
            </section>
            
        </div>
                
    <script src="../javascript/list.js"></script>            
</body>
</html>