<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="../styles/customer.css">
</head>
<body>
    <header class="header">
        <div class="log">
            <img src="../public/img/Log.png" alt=""> 
        </div>
        <nav>
            <ul class="nav-link">
                <li><c href="#">List</c></li>
                <li><b href="#"><img src="../public/img/Supa_car.png" alt=""></b></li>
            </ul>
        </nav>
        <a href="../index.html" class="nav-link_active"><button>Home</button></a>
    </header>
</body>
</html>