<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="stylesheet" href="../styles/shopping_cart.css">
</head>
<body>
    <header class="containt">
        <form method="get" class="search-bar">
            <input type="text" placeholder="search the product" name="q">
            <button type="submit">
                <span>&#128269;</span>
            </button>
        </form>
        <div>
            <a href="#" id="btn-home"><button>Home</button></a>
            <a href="#" id="btn-admin"><button>Admin</button></a>
            <a href="#" id="btn-customer"><button>Customer</button></a>
            <script src="../javascript/shopping_cart.js"></script>
        </div>
        
    </header>

    <div class="all_elements">

    </div>
</body>
</html>